<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="dnldd.base">

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:name=".Application"
        android:icon="@mipmap/ic_launcher" android:theme="@style/Spec">
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
        <activity android:name=".NoDrawerActivity"
            android:enabled="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
